<header class="flex sm:items-center justify-between ml-5 border-b-2 border-gray-200">
    <div class="relative flex items-center space-x-4">
       <div class="relative">
       <img src="./../assets/svg/Robot.svg" alt="" class="w-10 sm:w-16 h-10 sm:h-16 rounded-full">
       </div>
       <div class="flex flex-col leading-tight">
          <div class="text-2xl mt-1 flex items-center">
             <span class="text-gray-700 mr-3">Chatbot AI</span>
          </div>
          <span class="text-lg text-gray-600">Virtual assistant</span>
       </div>
    </div>
 </header>
